body
{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, blue, blueviolet);
}

.box
{
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color:rgba(0,0,0,0.7);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    color: white;
}

fieldset
{
    border: 3px solid blueviolet;
}

legend
{
    border: 1px solid blueviolet;
    padding: 5px;
    background-color: blueviolet;
    border-radius: 7px;
    color: white;
}

.inputBox
{
    position: relative;
}

.inputUser
{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
}

.labelInput
{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput
{
    top: -20px;
    font-size: 12px;
    color: blueviolet;
}

#data
{
    border: none;
    border-radius: 10px;
    background-color:white;
    color: black;
    font-size: 15px;
    padding: 5px;
    outline: none;
}

#insc
{
    border: none;
    border-radius: 5px;
    background-color:white;
    color: black;
    font-size: 15px;
    padding: 3px;
    outline: none;
}

#submit
{
    background-image: linear-gradient(to right, blue, blueviolet);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 10px;
    outline: none;
    width: 49%;
    cursor: pointer; 
}
#submit:hover
{
    background-image: linear-gradient(to right, rgb(3, 3, 117), rgb(78, 25, 128));
    
}

#clean
{
    background-image: linear-gradient(to right, blue, blueviolet);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 10px;
    outline: none;
    width: 49%;
    cursor: pointer;
}

#clean:hover
{
    background-image: linear-gradient(to right, rgb(3, 3, 117), rgb(78, 25, 128));
    
}